@import url('ui-view.css');
@import url('side-menu.css');

* {
    font-family: '微软雅黑';
    margin: 0;
    padding: 0;
}

.pagination a {
    cursor: pointer;
}

.form-group {
    margin-bottom: 10px !important;
}

select {
    width: 180px !important;
}
